
.blog__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 60px;
    margin-bottom: 14px;
}

.titles {
    margin-bottom: -26px;
}

.blog__home {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.blog__home-it {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin-right: 20px;
}

.blog__home-item {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin-right: 20px;
}

.blog__home-item:hover {
    opacity: 0.5;
}

.arrow__blog {
    margin-right: 20px;
}

.des {
    display: flex; 
    flex-wrap: wrap;
}

.titles__des {
    margin-right: 20px;
}

.des__date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #818181;
    margin-top: 20px;
}

.des__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #1E0606;
    margin-top: 7px;
    width: 380px;
    height: 62px;
}

.des__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    margin-top: 15px;
    margin-bottom: 19px;
    width: 380px;
    height: 125px;
}


.panda__date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #818181;
    margin-top: 20px;
    margin-bottom: 7px;
}

.panda__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #1E0606;
    margin-bottom: 15px;
}

.panda__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    margin-top: 15px;
    width: 400px;
    height: 100px;
}

.monkey__date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #818181;
    margin-top: 20px;
}

.monkey__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #1E0606;
    margin-top: 7px;
    margin-bottom: 15px;
    width: 380px;
    height: 93px;
}

.monkey__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    width: 380px;
    height: 100px;
}

.baz {
    margin-top: 20px;
    margin-right: 20px;
}

.baz__date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #818181;
    margin-top: 20px;
    margin-bottom: 7px;
}

.baz__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #1E0606;
    margin-bottom: 15px;
}

.baz__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    width: 380px;
    height: 100px;
}

.prinesse {
    margin-top: 20px;
    margin-right: 20px;
}

.prinesse__date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #818181;
    margin-top: 20px;
    margin-bottom: 8px;
}

.prinesse__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #1E0606;
    width: 380px;
    height: 93px;
}

.prinesse__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    margin-top: 15px;
    width: 380px;
    height: 100px;
}

.cubes {
    margin-top: 20px;
}

.cubes__date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #818181;
    margin-top: 20px;
    margin-bottom: 7px;
}

.cubes__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #1E0606;
    width: 380px;
    height: 93px;
}

.cubes__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    margin-top: -15px;
    width: 380px;
    height: 100px;
}