
.banner {
    margin-top: 40px;
    margin: 0 auto;
    width: 1180px;
    height: 372px;
    position: relative;
    background: #EEE4DB;
    margin-top: 129px;
}

.banner__wr {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);
    margin-top: 17px;
    margin-left: 28px;
}

.handle {
    display: flex;
    flex-direction: column;
    padding-left: 2px;
}

.handle__item {
    width: 30px;
    height: 3px;
    background: #D6CAC2;
    margin-top: 11px;
}

.handle__item:hover {
    background: #725F5B;
}


.bunner__collection {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    width: 307px;
    margin-left: 45px;
    margin-top: 89px;
    margin-bottom: 19px;
}

.banner__img {
    position: absolute;
    left: 448px;
    top: -89px;
}


.designed__text {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-left: 44px;
    padding-bottom: 20px;
}

.banner__wrap {
    display: flex;
}

.banner__full {
    display: flex;
    flex-direction: column; 
}



.button__btn:hover {
    background: #C29974;
    color: #FFFFFF; 
    transition: 0.3s linear !important;
}

.banner__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    align-items: center;
    background: #C29974;
    padding: 11px;
    color: #FFFFFF; 
}

/**************************************************************************************** Каталог */


.catalog__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    margin-top: 90px;
    margin-bottom: 30px;
}

.catalog__products {
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog__kids {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #DBE4DB;
    margin-right: 20px; 
    width: 280px;   
    height: 270px;
}

.kids__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 155px;
    color: #FFFFFF; 
}

.catalog__shop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #EADDD3;
    margin-right: 20px; 
    width: 280px;   
    height: 270px;
}

.shop__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 155px;
    color: #FFFFFF;
}

.catalog__toys {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #F8F2DA;
    margin-right: 20px; 
    width: 280px;   
    height: 270px;
    margin-right: 20px;
}

.toys__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 155px;
    color: #FFFFFF;
}

.catalog__accessories {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #D5D4E1;
    margin-right: 20px; 
    width: 280px;   
    height: 270px;
    margin-right: -9px;
}

.accessories__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 155px;
    color: #FFFFFF;
    margin-right: 40px;
}

.arrows {
    display: flex;
    margin-top: 30px;
}

.catalog__slider {
    display: flex;
    flex-direction: row;
}

.button__slider__left {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #D5D4E1;
    width: 37px;
    height: 37px;
    background: rgba(112, 187, 220, 0.2);
    border: none;
    margin-left: 42px;
}

.slider__left {
    position: relative;
    padding: 5px 10px;  
}

.button__slider__right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #D5D4E1;
    width: 37px;
    height: 37px;
    background: rgba(112, 187, 220, 0.2);
    border: none;
}

.slider__right {
    position: relative;
    padding: 5px 10px;  
}

.slider__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    width: 580px;
    height: 44px;
    margin-left: 20px;
}



/******************************************************************* Деливери женщина ************************************************************************************************/

.delivery {
    margin-top: 90px;
}

.delivey__img {
    padding-right: 121px;
}

.delivery__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.delivery__list__item-del {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    padding-right: 119px
}

.delivery__style {
    position: relative;
    width: 326px;
    height: 55px;
    background: rgba(112, 187, 220, 0.2);
    margin-left: -61px;
    margin-bottom: 11px;
}

.delivery__list__item-gua {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    margin-bottom: 22px;
}

.delivery__list__item-cre {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    margin-bottom: 30px;
}

.delivery__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    width: 480px;
    height: 66px;
    margin-bottom: 15px;
}

.delivery__title-second {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    width: 480px;
    height: 88px;
    margin-bottom: 26px;
}


.delivery__info {
    display: flex;
}

.delivery__more {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 472px;
    margin-top: 30px;
}

.button__delivery {
    display: block;
    font-family: 'Open Sans';
    text-transform: uppercase;
    border: none;
    width: 149px;
    height: 40px;
    color: #FFFFFF;
    background: #000000;
    text-align: center;
    padding: 9px;
    cursor: pointer;
}

/* Брэнды */

.brands__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
}

.mail {
    margin-right: 127px;
}

.apple {
    margin-right: 127px;
}

.eltex {
    margin-right: 127px;
}

/****************************************************************************************************** Информация и карта  */

.info {
    display: flex;
    margin-top: 118px;
}

.information {
    display: flex;
    margin-bottom: 157px;
}

.info__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    position: absolute;
    left: 32px;
    bottom: 207px;
}

.info__design {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    margin-bottom: 10px;
    padding-top: 32px;
    padding-left: 33px;
}

.information__design {
    position: relative;
    background: #E1F0F7;
    width: 543px;
    height: 228px;
}

.info__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    width: 483px;
    height: 67px;
    margin-bottom: 20px;
    margin-left: 33px;
}


.button__info {
    display: block;
    font-family: 'Open Sans';
    text-transform: uppercase;
    border: none;
    width: 123px;
    height: 40px;
    color: #FFFFFF;
    background: #000000;
    text-align: center;
    padding: 9px;
    cursor: pointer;
    margin-left: 33px;
}

.contacts__more {
    display: flex;
    flex-direction: column;
    width: 543px;
    height: 209px;
}

.info__contacts {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 57px;
    background: #E1F0F7;

}

.contact__text {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    bottom: 207px;
    left: 32px;
}

.contacts__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    width: 483px;
    height: 66px;
    margin-top: 38px;
    margin-bottom: 30px;
    margin-left: 35px;
}

.map {
    padding-left: 33px;
}

/*********************************************************************************************************** футер */

.footer {
    display: flex;
    align-items: cenet;
    margin-top: 100px;
    background: #434343;
    width: 1400px;
    height: 555px;
    margin: 0 auto;
}


.navigation {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 100px;
}

.navigation__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    margin-bottom: 23px;
}

.navigation__text:hover {
    opacity: 0.3;
}

.navigation__text:active {
    opacity: 0.2;
}


.navigation__line {
    width: 380px;
    height: 1px;
    background: #666666;
}

.footer__info {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 28px;
    color: #FFFFFF;
}

.footer__info-item {
    padding-bottom: 15px;
}

.footer__info-item:hover {
    opacity: 0.3;
}

.footer__info-item:active {
    opacity: 0.2;
}


.customer {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.customer__line {
    width: 380px;
    height: 1px;
    background: #666666;
    margin-right: 20px;
}

.footer__customer {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 28px;
    color: #FFFFFF;
}

.footer__aside {
    display: flex;
}

.footer__customer-item {
    padding-bottom: 15px;
}

.footer__customer-item:hover {
    opacity: 0.3;
}

.footer__customer-item:active {
    opacity: 0.2;
}

.customer__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    margin-bottom: 23px;
}

.customer__text:hover {
    opacity: 0.3;
}

.customer__text:active {
    opacity: 0.2;
}

.connect {
    display: flex;
    flex-direction: column;
}

.connect__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    margin-bottom: 23px;
}

.connect__text:hover {
    opacity: 0.3;
}

.connect__text:active {
    opacity: 0.2;
}

.connect__line {
    width: 380px;
    height: 1px;
    background: #666666;
    margin-bottom: 25px;
}

.connect__footer {
    margin-right: 20px;
    margin-top: 100px;
}

.footer__mail {
    display: flex;
    margin-bottom: 25px;
    margin-top: 5px;
}


.footer__input {
    padding: 10px 18px 10px 16px;;
    width: 299px;
    border: none;
}


.footer__links {
    display: flex;
}

.footer__img-item {
    padding-right: 10px;
}

.footer__img-item:hover {
    opacity: 0.3;
}

.footer__img-item:active {
    opacity: 0.2;
}


.line__footer {
    width: 1180px;
    height: 1px;
    background: #666666;
    margin-bottom: 23px;
    margin-top: 19px;
}

.footer__box {
    display: flex;
}

.footer__button {
    display: block;
    font-family: 'Open Sans';
    text-transform: uppercase;
    border: none;
    width: 81px;
    height: 40px;
    color: #FFFFFF;
    background: #000000;
    text-align: center;
    padding: 9px;
    cursor: pointer;
}

.company {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -8px;
}

.company__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-right: 25px;
    color: #FFFFFF;
}


.footer__info-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    margin-right: 109px;
    color: #FFFFFF;
}

.footer__web__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #A2A2A2;
}

/*************************************************************************************************** РЕЙТИНГ */
        /* Rating */

        .rating {
            margin: 0 0 1em 0;
            padding: 0;
            border: none;
        }

        /* Caption */

        .rating__caption {
            margin-bottom: 0.5em;
            padding: 0;
        }

        /* Group */

        .rating__group {
            position: relative;
            width: 10em;
            height: 2em;
            background-image: url('../icon/staroff.svg');
            background-size: 2em 1.9em;
            background-repeat: repeat-x;
        }

        /* Input */

        .rating__input {
            position: absolute;
            width: 1px;
            height: 1px;
            overflow: hidden;
            clip: rect(0 0 0 0);
        }

        .rating__input:focus ~ .rating__focus {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            outline: 0.2em solid #4a90e2;
            outline-offset: 0.2em;
        }

        /* Star */

        .rating__star {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            height: 2em;
            background-size: 2em 1.9em;
            background-repeat: repeat-x;
        }

        .rating__star:hover,
        .rating__input:checked + .rating__star {
            background-image: url('../icon/staron.svg');
        }

        .rating__star:hover ~ .rating__star {
            background-image: url('../icon/staroff.svg');
        }

        /* Options */

        .rating__star:nth-of-type(1) {
            z-index: 5;
            width: 2em;
        }

        .rating__star:nth-of-type(2) {
            z-index: 4;
            width: 4em;
        }

        .rating__star:nth-of-type(3) {
            z-index: 3;
            width: 6em;
        }

        .rating__star:nth-of-type(4) {
            z-index: 2;
            width: 8em;
        }

        .rating__star:nth-of-type(5) {
            z-index: 1;
            width: 10em;
        }
/***************************************************************************************************** popup */

.section__form {
    background: rgba(125, 151, 218, 0.8);
   }
   
   .container__form {
    display: flex;
    justify-content: center;
   }
   
   .popup__form {
    width: 680px;
    padding: 40px 42px;
    background: #E5EAF8;
   }
   
   label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    
    /* Black */
    
    color: #1E0606;
   
    margin-bottom: 3px;
   }
   

   .name, .tel, .email, .mess {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
   }

   .input-name {
    padding-top: 14px;
    padding-bottom: 11p;
   }
   
   .tel-email {
    display: flex;
    justify-content: space-between;
   }
   
   .tel {
    margin-right: 10px;
   }
   
   .email {
    margin-left: 10px;
   }
   
   .textarea-mess {
    height: 150px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
   
    padding: 14px 0 11px 20px;
   }
   
   .check {
    margin-bottom: 15px;
   }

   
   .input__check {
    margin-right: 15px;
    border: 2px solid #C29974;
    border-radius: 3px;
   }
   
   .label-check {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
   }
   
   .button__form {
    background: #C1C1C1;
    display: block;
    font-family: 'Open Sans';
    text-transform: uppercase;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 9px 22px;
    cursor: pointer;
   }
   
   
   .button-close {
    background: rgba(125, 151, 218, 0.0);
    background-image: url('/icon/closex.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 15px;
    height: 15px;
    margin-left: 10px;
   }





