.category__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 60px;
}

.category__home {
    display: flex;
    align-items: center;
    margin-top: -13px;
}

.category__home-item {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin-right: 20px;
}

.category__home-item:hover {
    opacity: 0.5;
}

.arrow-home {
    margin-right: 20px;
}

.category__home-it {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    text-transform: capitalize;
}

.category__home-it:hover {
    opacity: 0.5;
}

/*********************************************************************************************KATAKLOG */


.catalog__product {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
}

.catalog__accessories {
    display: flex;
    flex-wrap: wrap;
}

.catalog__kid {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #DBE4DB;
    margin-right: 20px; 
    width: 280px;   
    height: 270px;
}

.kid-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 155px;
    color: #FFFFFF; 
}

.kid-text:hover {
    text-decoration: underline;
}

.kid-text:active{
    text-decoration: underline;
}


.catalog__sh {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #EADDD3;
    margin-right: 20px; 
    width: 280px;   
    height: 270px;
}

.sh-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 155px;
    color: #FFFFFF;
}

.sh-text:hover {
    text-decoration: underline;
}

.sh-text:active {
    text-decoration: underline;
}

.catalog__toy {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #F8F2DA;
    margin-right: 20px;
    width: 280px;
    height: 270px;
    margin-right: 62px;
}

.toy-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 155px;
    color: #FFFFFF;
}

.toy-text:hover {
    text-decoration: underline;
}

.toy-text:active {
    text-decoration: underline;
}


.catalog__access {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #D5D4E1;
    margin-right: 20px;
    width: 280px;
    height: 270px;
    margin-top: 25px;
    margin-left: 202px;
}

.access-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 155px;
    color: #FFFFFF;
    margin-right: 40px;
}

.access-text:hover {
    text-decoration: underline;
}

.access-text:active {
    text-decoration: underline;
}

.catalog__bird {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #F3D0DB;
    margin-right: 20px;
    width: 280px;
    height: 270px;
    margin-top: 24px;
}

.catalog__bird:hover {
    text-decoration: underline;
}
.catalog__bird:active {
    text-decoration: underline;
}

.bird-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 155px;
    color: #FFFFFF;
}

.bird-text:hover {
    text-decoration: underline;
}

.bird-text:active {
    text-decoration: underline;
}

.rabbit-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    padding-right: 9px;
    width: 155px;
    color: #FFFFFF;
}

.rabbit-text:hover {
    text-decoration: underline;
}

.rabbit-text:active {
    text-decoration: underline;
}

.catalog__rabbit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #E5EAF8;
    margin-right: 20px;
    width: 280px;
    height: 270px;
    margin-top: 24px;
    margin-right: 20px;
}

.product-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 56px;
    margin-left: 201px;
}

/****************************************************************************************** PRODUCT */

.product-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 680px;
    height: 44px;
    color: #1E0606;
    margin-left: 201px;
    margin-top: 24px;
}

.product-desc {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 680px;
    height: 44px;
    color: #1E0606;
    margin-left: 201px;
    margin-top: 16px;
}

.product-slogan {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 680px;
    height: 66px;
    color: #1E0606;
    margin-left: 201px;
    margin-top: 15px;
    margin-bottom: 51px;
}