
.toy__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 60px;
}

.toy__home {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-top: -13px;
}

.toy__home-item {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin-right: 20px;

}

.toy__home-item:hover {
    opacity: 0.5;
}

.toy__home-it {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin-right: 20px;
    margin-left: 17px;
}

.toy__home-it:hover {
    opacity: 0.5;
}

.toy__home-ite {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin-left: 21px;
}

.toy__home-ite:hover {
    opacity: 0.5;

}

/********************************************************************************************* ПОЛЗУНОК И ЧЕКБОКСЫ */

.filters {
    background: rgba(125, 151, 218, 0.2);
    width: 1400px;
    height: 254px;
    margin: 0 auto;
}

.filters__navigations {
    display: flex;
}

.cost {
    display: flex;
    flex-direction: column;
    margin-right: 94px;
    margin-top: 43px;
}


.colouring {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    margin-left: -166px;
    margin-top: 43px;
}


.colouring__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}


input[type="checkbox"] {
    display: none;
}

.colouring-item {
    padding-left: 17px;
    cursor: pointer;
    margin-top: 11px;
}

.colouring-item:nth-of-type(1) {
    padding-top: 2px;
}

.colouring-item::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border: 2px solid #C29974;
    border-radius: 3px;
    vertical-align: middle;
    margin-left: -18px;
    margin-right: 10px;
}

input[type="checkbox"]:checked + .colouring-item::before {
    content: '';
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-size: 90%;
    padding-left: 0.3px;
}

.checkmark {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}



.checkmark:hover {
    text-decoration: underline;
}

.checkmark:active {
    text-decoration: underline;
}

.checkmark:disabled {
    color: #908484;
}

/******************************************************************************************************** RADIO */


.checkmark-radio {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    padding-left: 2px;
}

.checkmark-radio:hover {
    text-decoration: underline;
}

.checkmark-radio:active {
    text-decoration: underline;
}

.filters__delivery {
    margin-right: 69px;
    margin-left: 126px;
    margin-top: 41px;
}

.filters__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-bottom: 18px;
    margin-left: -4px;
}

.radio {
    position: relative;
    margin-top: 10px;
}
.radio__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.radio__label {
    padding-left: 27px;
    font-size: 16px;
    color: #444;
    cursor: pointer;
    margin-left: -2px;
}

.radio__label:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: border .1s linear;
    margin-left: -2px;
}

.radio__label:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-color:  #C29974;;
    border-radius: 50%;
    opacity: 0;
    margin-left: -2px;

    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 2;
    transition: opacity .1s linear;
}

.radio__input:checked + .radio__label::before {
    border-color: #C29974;

}

.radio__input:checked + .radio__label::after {
    opacity: 1;
}


 
/* Checked */

input[type=range]  {
    width: 188px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    overflow: hidden;
    height: 4px;
    margin-top: 24px;
    margin-left: 6px;
  } 

input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    background-color: #000000;
  }

.range-input::-webkit-slider-thumb {
    /* background: #C29974; */
    border: 9px solid #C29974;
    cursor: pointer;
    background: #FFFFFF;
    width: 24px;
    height: 24px;
    border-radius: 38px;
    -webkit-appearance: none;
    margin-top: -11px;
    box-shadow: -200px  0 0 200px  #C29974;
  }

input[type=range]::-moz-range-track {
      height: 4px;
      background-color: #000000;
  }


input[type=range]::-moz-range-thumb { 
    background: #ecf0f1;
    cursor: pointer;
    height: 7px;
    border-radius: 0px;
    box-shadow: -200px  0px 0px 200px   #C29974;;
    padding: 0px;
    margin: 0px;
    z-index: 0;
  }

    
.filter-cost {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.cost__item {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    padding-right: 169px;
    padding-top: 16px;
  }

.cost__items {
    display: flex;
}


.form_radio input[type=radio]:checked + label:before {
	background: url('../img/radius.svg') 0 0 no-repeat;
    background-size: 90%;
    background-position-y: 1.6px;
    background-position-x: 1.6px;
    padding-right: 1px;
    margin-left: -4px;
}

/****************************************************************************** amount */

.amount-group {
	display: inline-block;
	overflow: hidden;
    margin-right: 58px;
}

.amount-group-item {
	display: inline-block;
	float: left;  
    text-align: center;
    align-items: center;
}

.amount-group input[type=radio] {
	display: none;
}


.amount-group label {
	display: inline-block;
    cursor: pointer;
    padding-top: 1px;
    line-height: 34px;
    width: 80px;
    height: 35px;
    background: #FFFFFF;
}

.amount-group input[type=radio]:checked + label {
	background: #F3D0DB;
}

.amount-group label:hover {
	background: #EDDEEB;
}

.amoun-number {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    text-align: center;
}

.amount-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-top: 42px;
    margin-bottom: 16px;
}

.amount-button {
    display: block;
    font-family: 'Open Sans';
    text-transform: uppercase;
    border: none;
    width: 98px;
    height: 40px;
    margin-left: 1px;
    font-weight: 700;
    color: #FFFFFF;
    background: #000000;
    text-align: center;
    padding: 9px;
    cursor: pointer;
    margin-top: 79px;
}



/***************************************************************************************************************** CATALOG */


.catalog {
    display: flex;
    margin-top: 58px;
}

.catalog__wrap {
    display: flex;
    flex-wrap: wrap;
}

.catalog__name__shark {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 32px;
    margin-bottom: 15px;
}

.catalog__shark {
    margin-right: 20px; 
    position: relative;
}




/* бекграунд при клике */
.shark-learn{
    display: none;
}

.shark-learn:hover {
    display: block;
    opacity: 0.9;
}

.shark-learn:hover:active {
    display: block;
    opacity: 0.67;
}

.catalog__shark .shark-learn {
    display: none;
}
.catalog__shark:hover a.shark-learn {
    display: block;
}

.catalog__shark:active a.shark-learn {
    display: block;
}





.learn-more-shark {
    position: absolute;
    width: 207px;
    height: 207px;
    background: #E5EAF8;
    left: 23%;
    top: 19%;
}



.shark-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #1E0606;
    padding-top: 84px;
    text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);

}

.price-shark {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
}

/************************************ BRASSSS ПРИ КЛИКЕ */
.catalog__brass {
    position: relative;
}
.brass-learn {
    display: none;
}

.brass-learn:hover {
    display: block;
    opacity: 0.9;
}

.brass-learn:active {
    display: block;
    opacity: 0.67;
}

.catalog__brass .brass-learn {
    display: none;
}

.catalog__brass:hover a.brass-learn {
    display: block;
}

.catalog__brass:active a.brass-learn {
    display: block;
}



.learn-more-brass{
    position: absolute;
    width: 207px;
    height: 207px;
    background: #E5EAF8;
    left: 23%;
    top: 19%;
}

.catalog__name__brass {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 32px;
    margin-left: -2px;
    margin-bottom: 15px;
}


.brass-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #1E0606;
    padding-top: 84px;
    text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
}


.price-brass {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
}


/***************************************************************************************************************КЛИК cibo */

.catalog__cibo {
    position: relative;
}
.cibo-learn{
    display: none;
}

.cibo-learn:hover {
    display: block;
    opacity: 0.9;
}

.cibo-learn:active {
    display: block;
    opacity: 0.67;
}

.catalog__cibo .cibo-learn {
    display: none;
}

.catalog__cibo:hover a.cibo-learn {
    display: block;
}

.catalog__cibo:active a.cibo-learn {
    display: block;
}



.learn-more-cibo{
    position: absolute;
    width: 207px;
    height: 207px;
    background: #E5EAF8;
    left: 23%;
    top: 19%;
}

.catalog__name__cibo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 32px;
    margin-left: -2px;
    margin-bottom: 15px;
}


.cibo-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #1E0606;
    padding-top: 84px;
    text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
}

.catalog__cibo {
    margin-left: 20px;
}

.catalog__name__cibo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 32px;
    margin-bottom: 15px;
}

.price-cibo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
}



/********************************************************************************************* конфеты */
.catalog__machine {
    position: relative;
}
.machine-learn{
    display: none;
}

.machine-learn:hover {
    display: block;
    opacity: 0.9;
}

.machine-learn:active {
    display: block;
    opacity: 0.67;
}

.catalog__machine .machine-learn {
    display: none;
}

.catalog__machine:hover a.machine-learn {
    display: block;
}

.catalog__machine:active a.machine-learn {
    display: block;
}




.learn-more-machine{
    position: absolute;
    width: 207px;
    height: 207px;
    background: #E5EAF8;
    left: 23%;
    top: 19%;
}


.catalog__name__machine {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 32px;
    margin-left: -2px;
    margin-bottom: 15px;
}


.machine-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #1E0606;
    padding-top: 84px;
    text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
}

.catalog__machine {
    margin-top: 46px;
}

.catalog__name__machine {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 30px;
}

.price-machine {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
    margin-top: 16px;
}

/********************************************************************************************* свечка клик */
.catalog__candle {
    position: relative;
}
.candle-learn{
    display: none;
}

.candle-learn:hover {
    display: block;
    opacity: 0.9;
}

.candle-learn:active {
    display: block;
    opacity: 0.67;
}

.catalog__candle .candle-learn {
    display: none;
}

.catalog__candle:hover a.candle-learn {
    display: block;
}

.catalog__candle:active a.candle-learn {
    display: block;
}



.learn-more-candle{
    position: absolute;
    width: 207px;
    height: 207px;
    background: #E5EAF8;
    left: 23%;
    top: 19%;
}


.catalog__name__candle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 32px;
    margin-left: -2px;
    margin-bottom: 15px;
}

.candle-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #1E0606;
    padding-top: 84px;
    text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
}

.catalog__candle {
    margin-top: 47px;
    margin-left: 19px;
}

.catalog__name__candle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 29px;
}

.price-candle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
    margin-top: 16px;
}

.catalog__candle {
    margin-top: 47px;
    margin-left: 19px;
}


/********************************************************************************************* ВЕТРОДУЙКА КЛИК :d */

.catalog__tangle{
    position: relative;
}
.tangle-learn{
    display: none;
}

.tangle-learn:hover {
    display: block;
    opacity: 0.9;
}

.tangle-learn:active {
    display: block;
    opacity: 0.67;
}

.catalog__tangle .tangle-learn {
    display: none;
}

.catalog__tangle:hover a.tangle-learn {
    display: block;
}

.catalog__tangle:active a.tangle-learn {
    display: block;
}




.learn-more-tangle{
    position: absolute;
    width: 207px;
    height: 207px;
    background: #E5EAF8;
    left: 23%;
    top: 19%;
}


.catalog__name__tangle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 32px;
    margin-left: -2px;
    margin-bottom: 15px;
}

.tangle-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #1E0606;
    padding-top: 84px;
    text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
}


.catalog__tangle {
    margin-top: 50px;
    margin-left: 21px;
}

.catalog__name__tangle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 29px;
}

.price-tangle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
    margin-top: 17px;
}


/**************************************************************************************************************** slader */

.slider__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 76px;
    margin-bottom: 54px;
}

.slider__list {
    display: flex;
}

.slider__list-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1E0606;
    padding-right: 33px;
    padding-left: 33px;
}

.slider__list-item:hover {
    text-transform: uppercase;
    color: #C29974;
}

.slider__list-item:active {
    text-transform: uppercase;
    color: #AAAAAA;
}

.slider__img__rigth:hover {
    background: url('../img/arrowraighthover.svg');
}

.slider__img__left:hover {
    background: url('../img/arrowlefthover.svg');
}

.slider__img__rigth:active {
    background: url('../img/arrowraightactive.svg')
}

.slider__img__left:active {
    background: url('../img/arrowleftactive.svg')
}










/***************************************************************************************************************** FOOTER */
